@import "../node_modules/bulma/bulma";

.player-animations { background: url("player-animations.png"); }
.player-skins { background: url("player-skins.png"); }
.follower-animations { background: url("follower-animations.png"); }
.follower-skins { background: url("follower-skins.png"); }
